
ion-button{
    display: flex;
    justify-content: center;
    padding-top: 770px;
    
}
a{
color: white;

}

ion-content {
    --background: transparent;  
    background-image: url(https://i.pinimg.com/564x/e1/cc/10/e1cc107e9b1d5e5bdafacd97a38f7f00.jpg); 
    background-size: cover; 
    background-position: center center;  
    background-repeat: no-repeat;  
}
