section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-content: center;
}
section a{
    color: rgb(31, 24, 24);
    border-radius: 20px;
    padding: 80px 0px;
    text-align: center;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    span{
        background-color: white;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0px;
        padding: 5px;
        font-weight: bold;
        font-size: x-large;
    } 
}