<ion-content [fullscreen]="true">
  
    <ion-toolbar>
      <ion-title>{{producto?.nombre}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
 

  <ion-card>
    <img alt="{{producto.nombre}}" src="{{producto.imagen}}" />
    <ion-card-header>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{producto.descripcion}} - ${{producto.precio}}
    </ion-card-content>
  </ion-card>

  <div [ngClass]="{'mi-clase': aplicarEstiloEspecial}">
  
  
    <label for="color-selector">Color:</label>
    <select id="color-selector">
      <option value="s">Blue</option>
      <option value="m">White</option>
      <option value="l">Black</option>
  </select>

    <label for="talla-selector">Talla:</label>
    <select id="talla-selector">
        <option value="s">S</option>
        <option value="m">M</option>
        <option value="l">L</option>
        <option value="xl">XL</option>
    </select>
</div>
<div id="contador-container">
  <ion-button fill="clear" (click)="cantidad > 0 ? cantidad = cantidad - 1 : 0">-1</ion-button>
  <span>{{cantidad > 0 ? cantidad : 0}}</span>
  <ion-button fill="clear" (click)="cantidad = cantidad + 1">+1</ion-button>
</div>
<ion-button *ngIf="cantidad > 0; else noAgregarCarrito" id="agregarCarrito" color="tertiary" fill="solid" (click)="cartService.agregarAlCarrito(producto,cantidad)" [routerLink]="['/tabs/tab3']">
  Agregar al carrito
</ion-button>
<ng-template #noAgregarCarrito>
 
 
</ng-template>
</ion-content>